<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-twvJQYTmoCE5QsuT_gE5JTnmEjudwbI</string>
	<key>GCM_SENDER_ID</key>
	<string>873445143944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.entvision.app.scheduling.driver</string>
	<key>PROJECT_ID</key>
	<string>ent-scheduling</string>
	<key>STORAGE_BUCKET</key>
	<string>ent-scheduling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873445143944:ios:581e56f1b3a6ff10e5b63d</string>
</dict>
</plist>